<header class="header">
  <div class="container">
    <h1 class="lesson-title">
      Список товаров
    </h1>

    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a routerLink="/home" class="menu__link" routerLinkActive="active">Главная</a>
        </li>
        <li class="menu__item">
          <a routerLink="/products" class="menu__link" routerLinkActive="active">Товары</a>
        </li>
        <li class="menu__item">
          <a routerLink="/admin" class="menu__link" routerLinkActive="active">Admin</a>
        </li>
      </ul>
    </nav>


  </div>
</header>

<router-outlet></router-outlet>