<div class="container">


  <select-category [selectedValue]="selectedValue" [categoryList]="categoryList"
    (changeSelect)="changeSelectHandler($event)"></select-category>

  <div class="list-and-details">

    <products-list-part [list]="list" [categoryList]="categoryList" [selectedValue]="selectedValue"
      (delete)="deleteHandler($event)" class="products-list-part-style"></products-list-part>

    <router-outlet></router-outlet>

  </div>

  <br />

  <add-in-list (add)="addHandler($event)" [categoryList]="categoryList"></add-in-list>
</div>