.tableContainer {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
}

.filterInput {
  min-width: 260px;
}

.button-for-mobile {
  display: none !important;
}

@media screen and (max-width: 800px) {
  table .tableHead {
    display: none;
  }
  table .tableHead tr {
    display: block;
    margin-bottom: 1rem;
    border-bottom: 2px solid #e8e9eb;
  }
  table.tableInner td:empty {
    display: none;
  }
  table.tableInner td {
    display: block;
    text-align: right !important;
  }
  table.tableInner td:empty:before {
    display: none;
  }
  table.tableInner td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
  }

  .button-for-mobile {
    display: block !important;
  }
}
